.content-wrapper {
  background-color: rgb(222, 239, 245);
  min-height: 100vh;
  main {
    display: flex;
    justify-content: center;
    align-items: center;

    .overview {
      display: grid;
      gap: 6vw;
      grid-template-columns: repeat(2, 1fr);
      .overview-box {
        width: 40vw;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        border-radius: 10px;
        padding: 5vw;
        transition: transform 0.3s ease;
      }
      .overview-box:hover {
        transform: scale(1.1);
        background-color: rgb(200, 220, 230);
      }
      .overview-box h2 {
        margin-bottom: 1vw;
      }
      .overview-box p {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
